/* Column widths for admin tables - pattern, estimation and article index */
.column-name{
  width: 20%;
}
.column-description{
  width: 70%;
}
.column-option{
  text-align: center;
  vertical-align: middle;
}
.estimations-user {
  width: 20%;
}
.estimations-text {
  width: 75%;
}
.article-column-description{
  width: 50%;
}
